
.navbarColor {
    background-color: #224b5e;
    color: #e6e6e6;
}

.navbarTextColor {
    color: #00b3b3;
}

.darkBlue {
    color: #31708E
}

.midBlue {
    color: #5085A5
}

.lightBlue {
    color: #8FC1E3
}

.cream {
    color: #F7F9FB
}

.darkGreenBG {
    background-color: #687864
}

.midBlueBG {
    background-color: #5085A5
}

